.case-overlay {
  position: absolute;
  padding: 30px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background: linear-gradient(rgb(20 24 62 / 0%), #14183e);
  z-index: 1;
}
.case-overlay small {
  display: inline-block;
  padding: 3px 15px;
  color: #ffffff;
  background: rgba(20, 24, 62, 0.7);
  border-radius: 25px;
  margin-bottom: 15px;
}
.case-item img {
  transition: 0.5s;
}

.case-item:hover img {
  transform: scale(1.2);
}
.case-overlay span.btn:hover {
  color: #007bff;
  background: #ffffff;
  border-color: #ffffff;
}
